<html>

<head>
    <link rel="stylesheet" href="app.css">
</head>

<body>
    <form action="/login" method="post">
        <h2>Login (username: demo-user, password: demo-pass)</h2>
        <div class="input-field">
            <input type="text" name="username" id="username" placeholder="Enter Username">
        </div>
        <div class="input-field">
            <input type="password" name="password" id="password" placeholder="Enter Password">
        </div>
        <input type="submit" value="Log in">
    </form>
</body>

</html>