.highlight-up {
  animation: highlightUp 1s ease-out;
}

.highlight-down {
  animation: highlightDown 1s ease-out;
}

@keyframes highlightUp {
  from { background-color: #9cf7b1; }
  to { background-color: transparent; }
}

@keyframes highlightDown {
  from { background-color: #f49aa2; }
  to { background-color: transparent; }
}

